:root{
    --text:#404C53;
    --hover: #a65656;
    --wshaddow: #fff
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--text);
}

body{
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: inherit;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px 25px;
}

header #topo{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

header strong{
    font-weight: 700;
    font-size: 1.5rem;
}

header nav{
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

header nav a img{
    padding: 5px 15px;
}

header .click a{
    padding: 0 0 2px;
    display: flex;
    color: var(--text);
    transition: 0.6s;
    flex-direction: column;
}

header .click ul a:hover{
    font-weight: 700;

    padding: 1px;
    border-radius: .5em;
    color: var(--hover);
    box-shadow: 0 0 8px var(--hover);
}

/* MAIN */
main .designs ul .flip{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

main .designs ul li .flip h2{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
}
main .designs ul li .flip img{
    width: 60vw;
    margin: 20px auto;
}

/* FLIP */
.flip{    
    height: auto;
    perspective: 1500px;
}

.flip .frente{
    padding: 30px 0;
    margin-top: 10px;
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .5s linear;
}

.flip .fundo{
    position: relative;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .5s linear;
}

.flip:hover .frente{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.flip:hover .fundo{
    transform: rotateY(0deg);
    cursor: pointer;
}

/* FOOTER */
footer{
    background-image: url(../img/footer.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
}

footer .container{
    background-image: url(../img/logo-tom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 30px;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

footer .container a{
    padding: 0 15px 15px;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    align-items: center;
    transition: .4s;
}

footer .container a:hover{
    transform: scale(1.2) translateY(-10px);
}

footer .container img{
    padding: 0 5px;
    max-width: 35px;
}


/*  para o dark mode
color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
