:root{
    --text:#e2f3ec;
    --main-color: #009688;
    --main-color-complement: #0032eaa6;
    --hover-complement: #00bcd4;
    --light-shaddow: #fff;
    --dark-shaddow: rgba(0, 0, 0, .2); 
    --background-dark: #030b0e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: var(--text);
}


/* * * * BODY * * * */
.content{
    display: none;
}

body{
    background-color: var(--main-color);
    background: linear-gradient(75deg, var(--main-color), var(--main-color-complement));
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

header,
footer .container{
    background-color: var(--main-color);
    background: linear-gradient(200deg, var(--main-color), var(--main-color-complement));
}


/* * * * HEADER * * * */
header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px 10px;
}

header #topo{
    display: flex;
    margin: 20px 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header #topo figure img{
    /* padding: 0 5px; */
    width: 80vw;
}

header #topo a img{
    padding: .8em;
    width: 8rem;
}

header .click-menu ul li a{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 .3rem var(--text);
    border-radius: 1rem;
    padding: .2rem .8rem;
    margin: .5rem 0;
    color: var(--text);
    font-size: 1rem;
    width: 12rem;
}

/* * * * DROPDOWN * * * */
.drop ul li{
    display: block;
    position: relative;
}

/* sub-drop*/
.drop ul ul{
    display: none;
    position: absolute;
}


/* * * * MAIN * * * */
main .intro{
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1rem;
}

main .intro p{
    padding-bottom: 1rem;
}

main span{
    font-weight: normal;
    font-size: 2rem;
}

section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 1rem 0rem;
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    background: linear-gradient(175deg, var(--main-color-complement), var(--hover-complement));
    border: solid .16rem var(--text);
    border-radius: .8rem;
    box-shadow: 0.4rem 0.4rem 0.6rem rgb(0 0 0 / 20%);

}

article h3{
    display: flex;
    justify-content: center;
    margin: .5rem auto;
    font-size: 1rem;
}

#logos .shine {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logos img{
    width: 75vw;
    box-shadow: none;
}

#pages img,
#cvs img{
    width: 90vw;
    display: flex;
    margin: 0 auto 1rem;
    box-shadow: 0.4rem 0.4rem 0.6rem rgb(0 0 0 / 20%);
}

#nlw-heat img{
    box-shadow: 0.4rem 0.4rem 0.6rem rgb(0 0 0 / 20%);
    border: solid 0.15rem var(--light-shaddow);
    border-radius: 0.3rem;
}

#button-top{
    padding: 0.5rem 0;
    right: 1rem;
}

#button-top a{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

#button-top img{
    width: 1.5rem;
}

/* * * * FOOTER * * * */
footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

footer #about{
    text-align: justify;
    padding: 0 1rem;
}

#perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#perfil img{
    width: 30vw;
    border-radius: 100%;
    box-shadow: 0.4rem 0.4rem 0.6rem rgb(0 0 0 / 20%);
}

footer .container a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*transition: .4s;  desktop*/
    font-size: 1rem;
    padding: 0 0px 5px;
}

footer .container a img{
    padding: 0 .4rem;
    width: 2.4rem;
}

.github{
    margin-top: 1rem;
}

.mail{
    margin-bottom: 1rem;
}

footer #donate a{
    justify-content: center;
}

footer #donate img {
    width: 10rem;
    padding: inherit;
    background: var(--light-shaddow);
    border: solid var(--hover-complement) 0.25rem;
    border-radius: 1rem;
}

figcaption {
    text-align: center;
    font-size: .9rem;
}
