:root{
    --text:#162345;
    --hover: #009688;
    --hover2: #0032eaa6;
    --wshaddow: #fff;
    --dark-shaddow: #aaa;
    --background-base:#bbc9ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--text);
}


/* * * * BODY * * * */
body{
    background: var(--background-color);
    background: linear-gradient(137deg, var(--background-color) 0%, var(--background-base) 50%);
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}


/* * * * HEADER * * * */
header{
    background-color: var(--hover);
    background: linear-gradient(200deg, var(--hover), var(--hover2));
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px 10px;
}

header nav{
    display: flex;
    margin: 20px 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header nav figure img{
    padding: 0 5px;
    width: 80vw;
}

header nav a img{
    padding: .8em;
    width: 8rem;
}

header .click a{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px var(--text);
    border-radius: 15px;
    padding: .1em .8em;
    margin: .3em 0.8em;
    color: var(--text);
    font-size: .8rem;
    width: 10em;
}


/* * * * MAIN * * * */
main {
    background: var(--background-base);
    background: linear-gradient(
        165deg, var(--hover2) 1%, var(--background-base) 25%);
}

main .intro{
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 0.8rem;
}

main .intro p{
    padding-bottom: .5rem;
}

main strong{
    font-weight: 700;
    font-size: 1.5rem;
}

main em{
    font-weight: 600;
    color: var(--text);
    transition: 0.8s;
}

main .container ul .flip{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

main .container ul li .flip h2,
main .posters #banners h2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0.3em;
    
    font-size: 1rem;

    background: linear-gradient(175deg, var(--hover2), transparent);
    border-radius: 20px;
}

main .container ul li .flip img{
    width: 60vw;
    margin: 20px auto;
}

main .container ul li .flip img {
    width: 70vw;
    margin: 20px auto;
    box-shadow: 3px 2px 5px var(--dark-shaddow);
}

main .designs #logos img{
    box-shadow: none;
}

main .posters #banners h2{
    margin-top: 1em;
    justify-content: center;
    max-width: 10em;
}


/* * * * FLIP * * * */
.flip{    
    height: auto;
    perspective: 1500px;
}

.flip .frente{
    padding: 30px 0;
    margin-top: 10px;
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .5s linear;
}

.flip .fundo{
    position: relative;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .5s linear;
}

.flip:hover .frente{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.flip:hover .fundo{
    transform: rotateY(0deg);
    cursor: pointer;
}


/* * * * FOOTER * * * */
footer .container{
    background: var(--background-base);
    background: linear-gradient(0deg, var(--hover2) 5%, var(--background-base) 90%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

footer .container a{
    padding: 0 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .4s;
    font-size: .8rem
}

footer .container a img{
    padding: 0 5px;
    max-width: 30px;
}

footer .container .github a img {
    filter: invert(1);
}


/* * * * * * * * * * * */
/* * * * @MEDIA * * * */
/* * * * * * * * * * */

@media only screen and (min-width:798px) {
    
    /* * * * HEADER * * * */
    header .topo .click{
        display: flex;
        align-items: flex-start;
    }
    
    header .click a {
        font-size: .9em;
        transition: 0.6s;        
    }
    
    header .click a:hover,
    header .click a h2:hover{
        background-color: var(--wshaddow);
        font-weight: 700;
        color: var(--hover);
        box-shadow: 0 0 4px var(--hover);
    }
    
    header nav figure img{
        width: 25vw;
    }
    
    
    /* * * * MAIN * * * */
    
    main .intro {
        font-size: .9rem;
    }

    main .intro em:hover{
        transform: scale(1.1) translateY(-8px);
    }

    main .container ul li .flip h2{
        padding: 4px 16px;
        font-size: 1.2rem;
    }
    
    main .container ul li .flip img {
        width: 45vw;
        margin: 20px auto;
        box-shadow: 3px 2px 5px silver;
    }
    
    main .designs ul{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
    
    main .designs #logos img{
        width: 25vw;
    }
    
    main .designs #cards img{
        width: 35vw;
        margin: 50px;
    }
    
    main .models ul,
    main .posters #banners ul li{
        display: flex;
        justify-content: space-evenly;
    }
    
    main #sites .flip .click h2{
        transition: 1s;
    }

    main #sites h2:hover,
    main em:hover{
        background: linear-gradient(175deg, var(--hover), transparent);
        font-weight: 700;
    }

    main .posters #banners img{
        width: 30vw;
    }


    .posters .flip .frente{
        padding: 0;
    }

    /* * * * FOOTER * * * */
    footer .container{
        padding: 0 30px;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
    }
    
    footer .container a{
        align-self: flex-end;
        flex-direction: row;
        padding: 0 15px 15px;
        font-size: .8rem;
    }
    
    footer .container a:hover{
        transform: scale(1.1) translateY(-4px);
    }

    footer .container a img{
        max-width: 35px;
    }
}

/* * * * EXTRAS * * * */
/* * * * DARK-MODE * * * */
